body {
  width:600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  margin-top: 2em;
}
label[for="group"]{
  font-size: 2em;
}
#group {
  width:2em;
  font-size: 2em;
}
.getnames {
  margin: 2em 0;

}
.timer {
  font-size: 2em;
  margin-left: 1em;
}
.goBtn {
  width: 250px;
  height: 60px;
  font-size: larger;
}
.presField {
  margin-right: 1em;
  width: 14em;
}
.btn {
  width: 250px;
  height: 30px;
}
.email {
  margin-top: 1em;
}
.email *{
  margin: 8px 0;
}
#emailTo, #passcode, #notes{
  width: 250px;
}